/*--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	background:#fff;
	font-family: 'Roboto', sans-serif;
}
 a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.social-icons{
				position:fixed;
				top:200px; 
				background:#6C3F9A;
				z-index:100;
				border-radius:5px 5px 5px 5px;
}
.callbackdia{
				margin-left:37px;
				top:0px;
				position:absolute;
				background:#fff;
				z-index:100;
				border-radius:5px 5px 5px 5px;
				padding:15px;
				min-height:207px;
				border: 1px solid #6C3F9A;
}
.mobnumber{
	width: 100%;
padding: 0.5em;
outline: medium none;
color: #000;
font-size: 1em;
background: #FFF none repeat scroll 0% 0%;
border-radius:5px 5px 5px 5px;
}
/* .calldata{
				top:20px; 
				background:#fff;
				z-index:100;
				
				border-radius:5px 5px 5px 5px;
				padding:10px;
} */
.parallax-window {
    min-height: 400px;
    background: transparent;
}
ul{
	padding: 0;
	margin: 0;	
}
h1,h2,h3,h4,h5,h6,label,p{
	margin:0;	
}
.h_menu4 ul li ul li a:hover{
	background-color: #6C3F9A;
	color: #ffffff;
}
/*----*/
.itemContainer{
			width:100%;
			float:left;
		}

		.itemContainer div{
			float:left;
			margin: 5px 20px 5px 20px ;
		}

		.itemContainer a{
			text-decoration:none;
		}

		.cartHeaders{
			width:100%;
			float:left;
		}

		.cartHeaders div{
			float:left;
			margin: 5px 20px 5px 20px ;
		}
.item_add {
  color: #fff;
  border:none;
}	
a.item_add {
 text-decoration: none;
}		
.grid_1 img{
	margin-bottom:1em;
}
.box_1 h3{
  color: #fff;
  font-size: 1.1em;

}
.box_1 h3 img{
	margin-left: 5px;
}

.box_1 p a{
  color:#fff;
  font-size: 0.875em;
}
.total {
  display: inline-block;
}
.cart.box_1{
	float: left;
	  margin-top: 2px;
	  padding-left:20px;
}
/*----*/
.header{
	background:#6C3F9A;
	position:fixed;
	top:0px;
	z-index:100;
	width:100%;
}

.header-top{
	background: #5F098C;
	  padding: 15px 0;
	  position:relative;
}
.header-left{
	float: right;
	  margin-top: 4px;
}
.header-left ul{
	float: left;
}
.header-left ul li{
	display: inline-block;	
}
.header-left ul li a{
	text-decoration: none;
	color:#fff;
	  font-size: 1.1em;
	  margin: 0 2em 0 0;
}
.header-left ul li a:hover{
		color:  #AA00FF; 
}
.logo{
	float: left;
}
.head-top {
  padding: 1em 0;
}
.logo h1 a {
    color: #6c7886;
    font-size: 1.4em;
    text-decoration: none;
}
/*start search*/
.sb-search {
	position: absolute;
	right: 100px;
	width: 24%;
	min-width: 41px;
	margin: 0;
	height: 40px;
	float: left;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
	background: none;
}
.sb-search-input {
	position: absolute;
	top: 0px;
	left: 1px;
	border: none;
	outline: none;
	background:#FFF;
	width: 100%;
	height: 40px;
	margin: 0;
	z-index: 10;
	font-size: 13px;
	color:#2E0854;
	padding-left: 1em;
}
.sb-search-input::-webkit-input-placeholder {
	color:#FFFFFF;
}
.sb-search-input:-moz-placeholder {
	color: #2E0854;
}
.sb-search-input::-moz-placeholder {
	color: #2E0854;
}
.sb-search-input:-ms-input-placeholder {
	color: #2E0854;
}
.sb-icon-search,.sb-search-submit  {
	width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    right: 0;
    top: 0px;
    padding: 0;
    margin: 0;
    line-height: 85px;
    text-align: center;
	cursor: pointer;
}
.sb-search-submit {
	background:#000 url('../images/search.png') no-repeat 10px 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    color: transparent;
	border: none;
	outline: none;
	z-index: -1;
	-webkit-appearance: none;
}
.sb-icon-search {
   background:#000 url('../images/search.png') no-repeat 10px 10px;
	z-index: 90;
}
/* Open state */
.sb-search.sb-search-open,.no-js .sb-search {
	width:24%;
}
.sb-search.sb-search-open .sb-icon-search,.no-js .sb-search .sb-icon-search {
	background: #c0c0c0 url('../images/img-sprite.png') no-repeat 0px 1px;
	color: #fff;
	z-index: 11;
}
.sb-search.sb-search-open .sb-search-submit,.no-js .sb-search .sb-search-submit {
	z-index: 90;
}
/*-- search-ends --*/
i.facebok {
    width: 34px;
    height: 34px;
    background: url(../images/social.png)no-repeat -5px -6px ;
    float: left;
    vertical-align: middle;
}
i.facebok:hover{
	opacity:0.5;
}
i.twiter {
    width: 34px;
    height: 34px;
    background: url(../images/social.png)no-repeat -46px -7px;
    float: left;
    vertical-align: middle;
}
i.twiter:hover{
	opacity:0.5;
}
i.goog {
    width: 34px;
    height: 34px;
    background: url(../images/social.png)no-repeat -134px -8px;
    float: left;
    vertical-align: middle;
}
i.goog:hover{
	opacity:0.5;
}
i.inst {
    width: 34px;
    height: 34px;
    background: url(../images/social.png)no-repeat -91px -8px;
    float: left;
    vertical-align: middle;
}
i.inst:hover{
	opacity:0.5;
}
i.requestcall {
    width: 34px;
    height: 34px;
    background: url(../images/phon.png)no-repeat -4px -3px;
    float: left;
    vertical-align: middle;
}
i.requestcall:hover{
	opacity:0.5;
}
.social {
    float: right;
    margin: 0.4em 0 0;
    padding-left:20px;
}
.social li {
    display: inline-block;
}
.social ul {
   padding:0;
}
/* start menu */
.h_menu4 {
  margin: 7px 0 0px 150px;
  float: right;
}
.h_nav h4{
	border-bottom:1px solid rgb(236, 236, 236);
	font-size: 1.3em;
	color:#000;
	line-height: 1.8em;
	margin-bottom: 4%;
}
.h_nav h4.top{
	margin-top:1%;
}
.h_nav ul li{
	display: block;
}
.h_nav ul li a{
	display: block;
  font-size: 0.9em;
  color: #8A8686;
  text-transform: capitalize;
  line-height: 3em;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.h_nav ul li a:hover{
	color:#000;
}
/*--banner--*/

.banner{
	
	background-size: cover;
	width:100%;
	min-height: 560px;
	  position: relative;
}
/*--- slider-css --*/

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome;
	visibility: visible;
	display: block;
	height: 0px;
	width: 0px;
	display: inline-block;
	border:none;
	background:none;
	border-radius:50px;
}
.callbacks_here a:after{
	background:#fff;
}
.callbacks_tabs a{
	visibility:hidden;
}
.callbacks_tabs li{
	display:inline-block;
}
ul.callbacks_tabs.callbacks1_tabs {
	position: absolute;
	bottom: 14%;
	z-index: 999;
	left: 46%;
}
.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 38%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
height: 35px;
  width: 35px;
  background: url("../images/img-sprite.png") no-repeat -13px -98px ;
 }
.callbacks_nav.next {
  left: auto;
  background-position:-91px -98px;
  right: 0;
 } 
.banner-text{
 padding:14em 0 1em;
 color:#fff;
   width: 50%;
   min-height:560px;
}
.banner-text h3 {
  font-size: 2em;
  font-weight: 800;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  line-height: 1.2em;
}
.banner-text p{
	font-size:1.2em;
	margin: 1.3em 0 1em;
}
.banner-text a{
	text-decoration: none;
	color:#fff;
	font-size:1.2em;
	background: #8ce78a;
	padding: 0.4em 1em;
	border-radius:5px;
}
.banner-text a:hover{
	color: #8ce78a;
	background: #fff;
}
/*--content-top--*/
.cont {
    position: relative;
    min-height: 40em;
}
.content {
    position: absolute;
    top: -62px;
    background-color: #fff;
    padding: 2em;
}
.content-top h1{
	color:#6e7786;
	font-size: 1.7em;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
    margin-bottom: 0.5em;
}
.content-top {
	text-align:center;
	padding:4em 0;
}
.grid-top img{
	width:100%;
}
.grid-top p{
  font-size: 1.2em;
  margin: 1em 0 0;
  font-weight: 500;
  text-transform: uppercase;
}
.grid-top p a{
	  color: #6e7786;
  text-decoration: none;
}
.grid-top p a:hover{
	  color: #8ce78a;
}
.grid-in {
  padding: 2em 0 0;
}
/*--//content-top--*/
/*---content-middle--*/
.grid-mid{
	position:relative;
}
.twit {
	position: absolute;
  top: 48%;
  width:100%;
  	text-align:center;
}
.twit h4{
  color: #fff;
  font-size: 2em;
  font-weight: 600;
  margin: 0 auto;

  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}
.grid-mid img{
	width:100%;
}
.grid-middle {
  padding: 2em 0 0;
}
/*--content-bottom--*/
.content-bottom ul li{
	display:inline-block;
	border:1px solid #eee;
	float:left;
  border-left: none;
  width: 16.666%;
}
.content-bottom {
  padding: 3em 0;
}
/*--//content--*/
.col-md2 {
  padding: 30px 0 0;
}
.men1{
	padding: 0 15px 0 0;
}
.men2{
	padding: 0 0px 0 15px;
}
.content-top-bottom h2{
	  color: #6e7786;
  font-size: 1.7em;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  margin-bottom: 1.5em;
  text-align: center;
    text-transform: uppercase;
}
.b-link-stripe{
	position:relative;
	display:inline-block;
	vertical-align:top;
	font-weight: 300;
	overflow:hidden;
	width: 100%;
}
.b-link-stripe .b-wrapper{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	text-align:center;
	color:#ffffff;
	overflow:hidden;
}

.b-animate-go{
	text-decoration:none;
}
.b-animate{
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	visibility: hidden;
	font-size:1.1em;
	font-weight:700;
}
.b-animate img{
	margin-top: 4%;
	display: -webkit-inline-box;
}
.b-animate span{
	display:block;
	font-size: 1.5em;
	padding-top: 5em;
	display: block;
	font-weight: 500;
}

/* lt-ie9 */
.b-animate-go:hover .b-animate{
	visibility:visible;
}
.b-from-left{
	position: relative;
	visibility: hidden;
	background: rgba(0, 0, 0, 0.36);
  background-size: 100% 100%;
  top: 0px;
  margin: 0;
  min-height: 356px;
  transform: scale3d(0, 0, 0);
}
.grid-top:hover .b-from-left{
	visibility:visible;
	transform: scale3d(1, 1, 1);
}
.grid-top{
	position: relative;
}
/*----*/
.col-md1 {
  position: relative;
}

.b-from-top{
	position: relative;
	top: -100%;
	background:rgba(0, 0, 0, 0.36);
  background-size: 100% 100%;
 
  margin: 0;
  min-height: 429px;
}
.col-md1:hover .b-from-top{
	top:0;
}
.men:hover .b-from-top{
	top:0;
}
.men1:hover .b-from-top{
	top:0;
}
.men2:hover .b-from-top{
	top:0;
}
.top-in1{
	min-height: 204px;
}
.top-in1 span{
	padding: 4em 0 0;
}
.top-in2 span{
	padding: 3.5em 0 0;
}
.top-in2{
	min-height: 196px;
}
.top-in span{
	padding: 8em 0 0;
}
/*----*/
.content-grid{
	position: absolute;
	top:0;
	display: none;
	  text-align: center;
  width: 100%;
}
.content-grid h5{
	color:#fff;
	font-size: 2em;
}
.men{
	position: relative;
}
.men:hover .content-grid{
	display: block;
}
	
/*--//content--*/

/*--footer--*/
.footer{
	background:#141414;
}
.amet-sed h4{
	font-size: 1.5em;
  	color: #B0B2B5;
     font-family: 'Lato', sans-serif;
	margin: 0 0 1em;
	  text-transform: uppercase;
  font-weight: 700;
}
.footer-top-at {
    padding: 4em 0 4em;
}
 ul.nav-bottom li{
	list-style:none;
}
ul.nav-bottom li  a{
	text-decoration:none;
	color:#6B6B6B;
	font-size:1.1em;
	display: inline-block;
	  margin: 0.2em 0;
}
ul.nav-bottom li  a:hover{
	color:#8ce78a;
}
.amet-sed p{
	color:#989696;
	font-size: 1em;
	  margin: 0 0 0.3em;
}

.footer-class  p{
	color:#fff;
	font-size:1em;

}
.footer-class  p a{
	color:#8ce78a;
	text-decoration:none;
}
.footer-class  p a:hover{
	color:#fff;
}
.footer-class {
  padding: 1.5em 0;
  text-align:center;
  background:#000;
}
.amet-sed form{
padding:0em 0 0;
}
.amet-sed input[type="text"], .amet-sed input[type="submit"] {
  width: 100%;
  padding: 0.5em;
  outline: none;
  color: #000;
  font-size: 1em;
  background: #fff;
  border: none;
 }
 .amet-sed input[type="submit"] {
  width: 36%;
  color: #FFF;
  font-size: 1em;
  background:#6C3F9A;
  border: none;
  outline:none;
  padding: 0.5em;
}
.amet-sed input[type="submit"]:hover {
background: #fff;
color:#8ce78a;
}
ul.social{
	padding:1em 0 0;
}
ul.social li{
	display: inline-block;	
}
ul.social li i{
	background: url(../images/img-sprite.png)no-repeat -9px -14px ;
  width: 24px;
  height: 24px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px 0 0;
}
ul.social li  i.twitter{
	background-position:  -43px -14px;
}
ul.social li  i.rss{
	background-position: -77px -14px;
}
ul.social li  i.gmail{
	background-position:-110px -14px;
}
ul.social li i:hover{
	transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
    transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
}
/*--//footer--*/
/*--contact--*/
.contact {
  padding: 3em 0 ;
}
.contact h1 {
    font-size: 2.5em;
    font-family: 'Lato', sans-serif;
    color: #6c7886;
    text-align: center;
    font-weight: 600;
}
.map iframe{
	width: 100%;
	height:150px;
	border:none;
	padding: 0 15px;
}
.contact-grid input[type="text"],.contact-grid textarea{
	width: 100%;
	padding: 0.5em;
	margin: 0.5em 0;
	background:none;
	outline:none;
	  border: 1px solid #A09F9F;
	  font-size:1em;
	  color:#A09F9F;
	-webkit-appearance: none;
}
.contact-grid textarea{
	resize:none;
}
.send input[type="submit"]{
	width: 14%;
	font-size: 1.1em;
	background:#AA00FF;
	padding: 0.4em 0.8em;
	text-align: center;
	color: #fff;
	border: none;
	outline:none;
	-webkit-appearance: none;
}
.send input[type="submit"]:hover{
	background:#2d2d2d;
}
.contact-form {
	padding: 3em 0;
}
.address-more {
  padding: 0 0 2em;
}
.contact-in p{
	font-size:1em;
	color: #626262;
	width: 72%;
	line-height: 1.7em;	
}
.address-more h4{
	color:#6c7886;
	font-size:1.4em;
	  font-family: 'Lato', sans-serif;
	margin: 0 0 0.3em;
	  font-weight: 600;
}
.address-more p a{
	text-decoration:none;
	color: #626262;
}
.address-more p a:hover{
	color: #8ce78a;
}
/*--//contact--*/
/*--blog--*/
.grid_3{
	position:relative;
}
.blog-poast-admin {
	position: absolute;
	bottom:8.6em;
	left: 1.2em;
}
.blog-poast-info {
	padding: 0.8em 0em;
}
.blog-poast-info ul li {
	display:inline-block;
	  padding: 0 0.3em;
}
.blog-poast-info ul li span{
	color: #000;
	font-size:1em;
}
.blog-poast-info ul li a {
	color: #000;
	font-size:1em;	
}
.blog-poast-info ul li a:hover{
	text-decoration:none;
}
.blog-poast-info ul li a:hover {
	text-decoration:none;
	color:#EF5F21;
}
.blog-poast-info ul li  i {
	width: 20px;
	height: 20px;
	background:  url(../images/img-sprite.png) no-repeat -150px -104px ;
	display: inline-block;
	vertical-align: sub;
	margin: 0 3px 0 0;
}
.blog-poast-info ul li  i.date {	
	background-position: -186px -104px;
}
.blog-poast-info ul li  i.comment {	
	background-position:-226px -101px;	
}
.blog {
  padding: 4em 0;
}
.grid_3 p {
	color: #626262;
	font-size: 1em;
	line-height:1.5em;
}
.grid_3 h3{
	text-transform:uppercase;
	font-size:1.2em;
	margin-bottom:1em;
}
.grid_3 h3 a{
	color:#000;
	text-decoration: none;
}
.grid_3 h3 a:hover {
  color: #EF5F21;
}
.button {
	margin-top: 20px;
}
.button a {
	color:#fff;
	font-size: 1em;
	text-transform: uppercase;
	background: #EF5F21;
	padding: 0.4em 1em;
	text-decoration: none;
		text-decoration:none;
}
.button a:hover{

	color:#fff;
	background: #000
}
.grid_3{
	margin-bottom:3em;
}
p.m_10 {
	font-size: 0.85em;
	color: #555;
	line-height: 1.8em;
	padding: 2% 0;
}
p.m_11 {
	font-size: 0.85em;
	color: #555;
	line-height: 1.8em;
}
.blog h1 {
  font-size: 3em;
  font-family: 'Lato', sans-serif;
  color: #000;
  text-align: center;
  font-weight: 600;
    margin: 0 0 1em;
}
/*--//blog--*/
/*--product--*/
.tags ul li {
	display: inline-block;
	float:left;
	    width: 22.8%;
  margin: 0.5em 2% 0 0;
  text-align: center;
}
.tags li a {
	font-size: 1em;
	display:block;
	padding: 0.3em 0.4em;
	text-decoration: none;
	color: #000;
	border: 1px solid #000;
}
.tags li a:hover {
	color: #fff;
	background:#EF5F21;
	border: 1px solid #EF5F21;
}

.tags ul li:nth-child(4),.tags ul li:nth-child(8),.tags ul li:nth-child(12){
	margin:0.5em 0 0;
}
/*----*/
h3.cate {
	color: #000;
	  border-bottom: 1px solid #000;
  width: 69%;
	font-size: 2em;
    font-family: 'Lato', sans-serif;
}
.of-left{
	 border-bottom: 1px solid #000;
}
.product-go {
  margin-top: 2em;
}
.product {
  padding: 4em 0;
}
.bottom-product {
    margin-bottom: 2em;
    margin-top: 0em;
}
nav.in{
  text-align: center;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  color: #fff;
  background-color:#EF5F21;
  border-color: #EF5F21;
}
.pagination > li > a, .pagination > li > span {

  color: #000;
}
/*----*/
ul.kid-menu{
	display: block !important;
}
.menu {
	width: auto;
	height: auto;
	padding: 0;
	list-style: none;
	margin: 1.5em 0;	
}
.menu > li > a {
	width: 100%;
  margin: 0.3em 0;
	display:inline-block;
	position: relative;
	color: #000;
	font-size: 1.1em;
	text-decoration:none;
	
}
.menu > li > a:hover{
	color:#EF5F21;
}
.menu ul li a {	
	width: 100%;
	display: inline-block;
	position: relative;
	font-size:1.1em;
	margin:0.3em 0;
	color: #000;
	text-decoration:none;
	
	text-indent: 1.2em;
}
.menu ul li a:hover{
	color:#EF5F21;
}
ul.kid-menu li,.menu ul li{
	list-style: none;	
}
.sellers {
  padding: 2em 0;
}
.tags {
  padding: 1.5em 0 0;
}
h3.best {
  color: #000;
  border-bottom: 1px solid #000;
  width: 81%;
  font-size: 2em;
    font-family: 'Lato', sans-serif;
}
.pagination > .active > a, .pagination > .active > a:hover {
  background: #EF5F21;
  border-color: #EF5F21;
}
/*----*/
.product-middle{
	background: url(../images/product1.jpg) center;
  width: 100%;
  min-height: 45px;
  display: block;
  background-size: cover;
}
.fit-top{
	
  width: 100%;
	padding: 1em 1em;
}
 h6.shop-top{
	font-size:1.1em;
	font-weight:300;
	float:left;
	color: #fff;
	  margin-top: 0.3em;
}
a.shop-now{
	font-size:0.9em;
	  float: right;
	  text-decoration: none;
	  border: 1px solid #ffffff;
	  padding: 0.2em 0.4em;
	  color:#fff;
}
a.shop-now:hover{
	  border: 1px solid #EF5F21;
	  background:#EF5F21;
}
h3.tag {
	color: #000;
	  border-bottom: 1px solid #000;
  width: 32%;
	font-size: 2em;
    font-family: 'Lato', sans-serif;
}
.of-left-in{
	 border-bottom: 1px solid #000;
}

/*----*/
.fashion-grid{
	float:left;
	  width: 24%;
}
.fashion-grid1{
	float: right;
	  width: 68%;
}
 h6.best2 {
  font-size: 1em;
  font-family: 'Lato', serif;
  line-height: 1.3em;
 }
 h6.best2 a{
 	color:#000;
 	text-decoration: none;
 }
 h6.best2 a:hover{
	color:#EF5F21;
 }
 span.price-in1 {
  font-size: 1.7em;
  padding: 0.3em 0 0;
  display: block;
  color:#EF5F21;
}
span.price-in1 small {
  text-decoration: line-through;
}
.six1{
	position: absolute;
	top:0;
	font-weight: 100;
	  padding: 4em 1em 0;
	  width: 100%;
  height: 100%;
  text-align: center;
}
.six1 h4{
	font-size:2.5em;
	color:#EF5F21;
font-weight: 100;	
}
.six1 p{
	font-size:2em;
	color:#EF5F21;
	  margin: 0.5em 0 0;
}
.six1 span{
	font-size:6em;
	color:#EF5F21;
	font-weight: 100;
	  font-family: 'Lato', sans-serif;
}
.per1 {
  position: relative;
    margin: 2em 0;
}
/*---*/

a.item_add p.number {
    font-size: 1.1em;
    color: #6e7786;
    text-align: center;
    padding: 0em 1em;
}
a.item_add p.number:hover{
		background: none;
		transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
a.item_add p.number i {
    background: url(../images/cart-1.png)no-repeat 1px -0px;
    width: 26px;
    height: 21px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0;
}
p.tun {
    font-size: 1em;
    color: #6e7786;
    text-align: left;
    line-height: 1.8em;
    padding: 1em 0;
    float: left;
    width: 53%;
}
.product1 span {
    color: #000;
    font-size: 1.1em;
    font-weight: 700;
}
.product-at img {
    width:100%;
}
.product-at{
	position: relative;
}
.product-at:hover .pro-grid{
	display:block;
}
.product1 {
  padding: 0;
}
.pro-grid{
	text-align:center;
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	display:none;
	padding: 12em 0 0;
}
.pro-grid span{
	text-decoration:none;
	color:#fff;
	font-size:1.1em;
	font-weight:600;
	background:#8CE78A;
	padding: 0.5em 1.5em;
	text-transform: uppercase;
}
.pro-grid span:hover{
	background:#fff;
	color:#8CE78A;
}
/*--//product--*/
.pl-lft {
    float: left;
    width: 45%;
}
.pl-rgt {
    float: right;
    width: 55%;
    padding: 1.6em 0em 1.6em 1em;
}
.pro-tp p a{
    color: #6e7786;
    font-size: 1em;
    margin: 1em 0;
    line-height: 1.8em;
	text-decoration:none;
}
.pro-tp p a:hover{
color:#8ce78a;
}
.pro-tp h6 a{
    color: #000;
    font-size: 1em;
    margin:0;
    font-weight:700;
	text-decoration:none;
}
.pro-tp h6 a:hover{
color:#8ce78a;
}
.pro-tp {
    margin: 0 0 2em;
}
.pr-btm h4 {
    color: #6e7786;
    font-size: 1.4em;
    font-weight: 700;
    margin: 0 0 1em;
}
.pr-btm h6 {
    font-size: 1.2em;
    font-weight: 700;
    margin: 1em 0;
    color: #000;
}
.pr-btm p {
    color: #6e7786;
    font-size: 1em;
    margin: 1em 0;
    line-height: 1.8em;
}
.pr-btm {
    text-align: center;
	margin:6em 0 0;
}
.pr-btm img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}
.bottom-cd.simpleCart_shelfItem {
    padding-right: 5em;
}
.grow {
    background-color: #fff;
    padding: 1.3em 0;
}
.grow h2 {
    color: #333;
    font-size: 2em;
    margin: 0;
    font-weight: 700;
}
.pro-du {
    padding: 4em 0;
}
.ca-rt {
    float: right;
    width: 42%;
    padding: 2em 0 0;
}
.top-sing {
    margin-bottom: 7em;
}
/*--single--*/
 ul.star-footer li{
	display:inline-block;
	
}
 ul.star-footer li i{
	height: 16px;
	width: 16px;
	background: url("../images/img-sprite.png") no-repeat -261px -106px  ;
	display: inline-block;
}
.single-para h4 {
    color: #000;
  font-size: 2em;
  font-family: 'Lato', serif;
}
.single-para p {
  font-size: 1em;
  color: #2c3e50;
  font-family: 'Lato', serif;
  line-height: 1.8em;
    margin: 1em 0;
}
.single-para h5 {
  color:#8ce78a;
  font-size: 1.7em;
  border-bottom: 1px solid #C4C3C3;
  padding: 0.3em 0;
}

.available ul li {
    list-style: none;
    padding: 0 0.5em 0 0;
    color: #4c4c4c;
    font-size: 1.1em;
    float: left;
    width: 100%;
    font-family: 'Roboto Slab', serif;
    margin: 0.5em 0;
    float: left;
    width: 100%;
    vertical-align: middle;
}
.available ul li select {
    outline: none;
    padding: 6px;
    border: none;
    background: #eeeeee;
    width: 40%;
    margin-left: 7%;
    cursor: pointer;
}
.available ul li.size-in select {
	  margin-left: 16%;
}
.available {
  padding:  1em 0;
}
ul.tag-men {
	padding:0.3em 0;
	 border-top: 1px solid #C4C3C3;
	  border-bottom: 1px solid #C4C3C3;
}
ul.tag-men li{
	list-style:none;
	color:#000;
	 font-family: 'Lato', serif;
	 margin: 0.3em 0;
	font-size:0.9em; 
}
ul.tag-men li span.women1{
	  margin-left: 9em;
}
a.add-cart {
  text-decoration: none;
  color: #fff;
  background: #8ce78a;
  padding: 0.4em 0.8em;
  font-size:0.9em;
  text-transform: uppercase;
  margin-top: 2em;
  display: inline-block;
}
a.add-cart:hover {
  background:#000;
  
}
h3.real{
  color: #000;
  border-bottom: 1px solid #000;
   margin: 0 0.5em 1em;
  font-size: 2em;
  font-family: 'Lato', serif;
}
/*----*/
.star-on {
  padding: 1em 0;
}
.star-on ul {
  float:left;
}
.star-on ul li{
	vertical-align: sub;
}

.review{
	float:left;
	  padding: 0 1em;
}
.star-on a{
	text-decoration:none;
	font-size:1em;
	color:#000;
}
.star-on a:hover{
	color:#8ce78a;
}
/*----*/
.cd-tabs-navigation {
  width: 100%;
}
.cd-tabs-navigation li {
    display: inline-block;
  list-style:none;
}
.cd-tabs-navigation a {
  position: relative;
  display: block;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	font-size:1.1em;
	color:#000;
	background:#eee ;
	padding:10px 16px;
	  font-family: 'Lato', serif;
	text-decoration: none;
}

.cd-tabs-navigation a.selected  {
	background:#EF5F21;
  color:#fff;
}

.cd-tabs-content li {
  display: none;
}
.cd-tabs-content li.selected {
  display: block;
  -webkit-animation: cd-fade-in 0.5s;
  -moz-animation: cd-fade-in 0.5s;
  animation: cd-fade-in 0.5s;
  
}
.cd-tabs.is-ended {
  margin: 3em 0 1em;
  padding: 0 1em;
}
.facts{
	
padding: 1em 0;
}
.facts p{
	color:#999;
	font-size:1em;
	line-height:1.7em;
	padding:0 0 1em;
	  font-family: 'Lato', serif;
}
.facts ul li{
	list-style:none;
	color:#767676;
	font-size:1em;
	padding:0.3em 0;
}
.color {
	background:#eee;
	  margin: 1em 0;
  padding: 1em;
}
.color p,.color span{
	color:#000;
	font-size:1em;
	  font-family: 'Lato', serif;
	    float: left;
		
}
.color p{
	width:40%;
}
.top-comment-left{
	float: left;
	width: 13%;
}
.top-comment-right{
	float: left;
	width:84%;
	margin-left:1em;
	background:#f8f8f8;
	padding:2em ;
}
.top-comment-right h6{
	color:#000;
	font-size:0.8em;
	font-family: 'Lato', serif;
}
.top-comment-right p{
	color:#000;
	font-size:1em;
	  margin: 1em 0em 0 1em;
}
a.add-re{
	text-decoration: none;
  color: #fff;
  background: #EF5F21;
  padding: 0.4em 0.8em;
  font-size: 0.9em;
  text-transform: uppercase;
  margin-top: 2em;
  display: inline-block;
}
a.add-re:hover{
	
  background: #000;
  }
.top-comment-right h6 a{
	color:#000;
	font-size:1.5em;
	text-decoration:none;
}
.comments-top-top {
	margin: 2em 0;
	
}
/*--//single--*/
.register {
	padding: 4em 0 ;
}
/*--register--*/
.register h1 {
    font-size: 2.5em;
    font-family: 'Lato', sans-serif;
    color: #6c7886;
    text-align: center;
    font-weight: 600;
    margin-bottom: 1em;
}
.register-top-grid h3, .register-bottom-grid h3 {
	font-size: 1.5em;
  font-family: 'Lato', sans-serif;
  color: #6c7886;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-weight: 600;
}
.register-top-grid span, .register-bottom-grid span {
	  font-size: 1em;
  display: block;
  color: #A09F9F;
}
.register-top-grid input[type="text"], input[type="password"], input[type="email"], input[type="tel"], .register-bottom-grid input[type="password"] {
	width: 100%;
	padding: 1em;
	margin: 1em 0;
	background: none;
	outline:none;
	border: 1px solid #A09F9F;
	-webkit-appearance: none;
}
.checkbox {
	margin-bottom: 4px;
	padding-left: 27px;
	line-height: 27px;
	cursor: pointer;
	float: left;
	position: relative;
}
.news-letter {
	color: #8ce78a;
	font-size: 1em;
	margin-bottom: 1em;
	display:inline-block;
	text-transform: uppercase;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	font-weight:400;
}
.checkbox i {
	position: absolute;
	bottom: 5px;
	left: 0;
	display: block;
	width:20px;
	height:20px;
	outline: none;
	border: 2px solid #8ce78a;
}
.checkbox input + i:after {
	content: '';
	background: url("../images/tick1.png") no-repeat 1px 2px;
	top: -1px;
	left: -1px;
	width: 15px;
	height: 15px;
	font: normal 12px/16px FontAwesome;
	text-align: center;
}
.checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.checkbox input {
	position: absolute;
	left: -9999px;
}
.checkbox input:checked + i:after {
	opacity: 1;
}
.news-letter:hover {
	color:#000;
}
.register-top-grid input[type="submit"] {
	background: #6C3F9A;
	padding: 0.4em 1em;
	color: #fff;
	font-size:1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	border:none;
	outline:none;
}
.register-bottom-grid input[type="submit"]:hover{
	background:#000;
	
}
/*--//register--*/
/*--account--*/
.account h1 {
    font-size: 2.5em;
    font-family: 'Lato', sans-serif;
    color: #6c7886;
    text-align: center;
    font-weight: 600;
    margin-bottom: 1em;
}
.account-top span{
	font-size:1em;
	display: block;
	padding: 0 0 0.5em;
	color:#A09F9F;
}
.account-top div{
	padding:0.5em 0;
}
.account-top input[type="text"],
.account-top textarea,.account-top input[type="password"]{
	padding:1em;
	width:100%;
	background:none;
	border: 1px solid #A09F9F;	
	outline:none;
	
	font-size:1em;	
}

.account-top textarea{
	resize:none;
	height:60px;		
}
.account-top input[type="submit"]{
	outline:none;
	padding:7px 20px;
	color:#FFF;
	cursor:pointer;
	background:#8ce78a;
	border:none;
	width:20%;
   margin:1em auto 0;
   transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;	
	font-size: 1.2em;
}
.account-top input[type="submit"]:hover{
	background:#000;
}

.account{
	padding: 4em 0;
}
.five {
  background: #fff;
  border-radius: 100px;
  border: 2px solid #8ce78a;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 1%;
  right: 8%;
  padding: 2em 0 0;
  text-align: center;
}
.five span {
  font-size: 1em;
  color:#8ce78a;
}
.five h2 {
  font-size: 1.5em;
  font-weight: 700;
  color: #000;
}
a.create {
  text-decoration: none;
  color: #fff;
  padding: 7px 20px;
  background:#8ce78a;
  text-align: center;
  display: block;
 }
.left-account img{
 	width:100%;
 }
/*--single--*/
.single-bottom h3 {
  font-size: 3em;
  font-family: 'Lato', sans-serif;
  color: #000;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0.7em;
}
.single-bottom {
  padding: 0em 0 4em;
}
.single-bottom input[type="text"], .single-bottom textarea {
  width: 100%;
  padding: 1em;
  background: none;
  outline: none;
  border: 1px solid #A09F9F;
  font-size: 1em;
  color:#A09F9F;
  -webkit-appearance: none;
  margin: 0 0 1em;
}
.single-bottom  input[type="submit"]{
	width: 10%;
	font-size: 1.3em;
	background: #EF5F21;
	padding: 0.4em 0.8em;
	text-align: center;
	color: #fff;
	border: none;
	outline:none;
	-webkit-appearance: none;
	 
}
.single-bottom  input[type="submit"]:hover{
	background:#000;
}
 .single-bottom textarea {
	resize:none;
	min-height:180px;
	 margin: 0em 0em 1em;
	width: 100%;
 }
 /*--//single--*/
/*--checkout--*/
/*--
.cart h3{
	font-size:1.5em;
}
--*/
.cart-sec{	
	margin-bottom:3em;
}
.cart-item{
	width:20%;
	float:left;
	margin-right:5%;
	
}
.cart-item img{
	width:100%;
}
.cart-item-info{
	width:75%;
	float:left;
	 
}
.check{
	padding:4em 0;
}
.cart-item-info h3{
	font-size:1em;
	font-weight:600;
}
.cart-item-info h3 a{
	color:#000;
}
.cart-item-info h3 span{
	display:block;
	font-weight:400;
	font-size: 0.85em;
  margin: 0.7em 0;
}
.size_3 {
  width:100%;
}
.delivery {
  margin-top: 3em;
}
.delivery p {
  color: #A6A6A6;
  font-size: 1em;
  font-weight: 400;
  float: left;
}
.delivery span {
  color: #A6A6A6;
  font-size: 1em;
  font-weight: 400;
  float: right;
}
.cart-item-info h4 span{
	font-size:0.65em;
	font-weight:400;
} 

.close1,.close2{
  background: url('../images/close_1.png') no-repeat 0px 0px;
  cursor: pointer;
  width: 28px;
  height: 28px;
  position: absolute;
  right: 0px;
  top: 0px;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.cart-header {  
  position: relative;  
}
.cart-header2 {  
  position: relative;  
}
a.order {
  background:#6C3F9A;
  padding: 10px 20px;
   font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  display: block;
  font-weight: 600;
  text-align: center;
  margin:3em 0;
}
a.order:hover{
	background:#000;
}
.total-item,.cart-items{
	margin-top:0em;
	padding-bottom:2em;
}

.total-item h3 {
  color: #333;
  font-size: 1.1em;
  margin-bottom: 1em;
}
.total-item h4{
	font-size:0.8em;
	font-weight:600;
	color:#9C9C9C;
	display:inline-block;
	margin-right:6em;
}
a.cpns{
	background:#6C3F9A;
	color:#fff;
	 font-family: 'Lato', sans-serif;
	padding: 10px;
  font-size: 0.8em;
	font-weight:600;
}
a.cpns:hover{
	background: #000;
}
.total-item p{
	font-size:0.9em;
	font-weight:400;
	margin-top:1em;	
}
.total-item p a{
	color:#727272;	
}
.total-item p a:hover{
	color:#000;
	text-decoration:underline;
}
a.continue{
	background:#6C3F9A;
	padding:10px 20px;
	  font-family: 'Lato', sans-serif;
	font-size:1em;
	color:#fff;
	text-decoration:none;
	display: block;
   font-weight: 600;  
   text-align: center;
   margin-bottom:2em;
}
a.continue:hover{
	background:#000;
}
ul.total_price{
	padding: 0;
  margin: 1em 0 0 0;
  list-style: none;
}
ul.total_price li.last_price{
	width: 50%;
  float: left;
  
}
ul.total_price li.last_price span{
	font-size: 1.1em;
  color: #000;
}
.price-details{
	border-bottom: 1px solid #DDD9D9;
  padding-bottom: 10px;
}
.price-details h3{
	color:#000;
	font-size:1.2em;
	margin-bottom:1em;
}
.price-details span{
	width: 50%;
  float: left;
 
  font-size: 0.8125em;
  color: #000;
  line-height: 1.8em;
}


.check h1 {
  font-size: 1.5em;
  margin-bottom:2em;
    font-family: 'Lato', sans-serif;
}
a.item_add1 {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-right-radius: 0;
 
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 10px 15px;
  background: url(0) #f54d56;
}
a.item_add1:hover{
	background:rgb(3, 193, 167);
	text-decoration:none;
	color:#fff;
}
.btn_5{
	padding:25px 40px;
	font-size:1.1em;
}
ul.qty{
	padding:0;
	margin:0;
	list-style:none;
}
ul.qty li{
   display: inline-block;
   margin-right: 10%;
}
ul.qty li p{
	font-size:0.8125em;
	color:#555;
}
 /*--responsive--*/
@media(max-width:1366px){
	
}
@media(max-width:1280px){
	
}
@media(max-width:1024px){
.banner-text {
  width: 70%;
  margin: 0 0 0 0em;
}	
.banner {
  /*min-height: 492px;*/
}
.b-animate span {
  padding-top: 4em;
}
.b-from-left {
  min-height: 288px;
}
.top-in span {
  padding: 5em 0 0;
}
.b-from-top {
  min-height: 350px;
}
.top-in1 span {
  padding: 2.3em 0 0;
}
.top-in1 {
  min-height: 166px;
}
.top-in2 span {
  padding: 2em 0 0;
}
.top-in2 {
  min-height: 157px;
}
/*--banner--*/
h6.shop-top {
  font-size: 1em;
}
.tags li a {
  font-size: 0.8em;
}
 h3.best,h3.tag,h3.cate {
  font-size: 1.7em;
}
h6.best2 {
  font-size: 1em;
  font-family: 'Lato', serif;
  line-height: 1.3em;
}
.six1 {
  padding: 2em 1em 0;
}
/*--single--*/
.single-top {
    width: 55%;
    float: left;
}
.single-top-in {
    width: 45%;
    float: right;
}
.available ul li select {
  margin-left: 9%;
}
.available ul li.size-in select {
  margin-left: 13%;
}
.cont {
    
}
.ca-rt {
    padding: 1.3em 0 0;
	width: 33%;
}
p.tun {
    width: 64%;
}
.flex-control-nav {
    left: 368px ! important;
}
.flex-control-thumbs li {
    width: 24.2%;
    margin: 0 1% 3% 0 ! important;
}
.sb-search {
    right: 140px;
}
.sb-search.sb-search-open, .no-js .sb-search {
    width: 54%;
}
.total-item h4 {
    margin-right: 4em;
}
.banner-text {
    padding: 12em 0 1em;
}
.amet-sed input[type="submit"] {
    width: 39%;
}
}
@media(max-width:768px){
.header{
	position:relative;
}
.social-icons{
	top:100px; 
}	
.banner-text{
	margin:0px;
}
.h_menu4 {
  width: 30%;
  margin:0px 10px;
  float: right;
}
.banner-text {
  width: 90%;
  margin: 0 0 0 0em;
  min-height:300px;
}
.banner-text h3 {
  font-size: 2.5em;
}
.grid-top {
    float: left;
    width: 25%;
}
.grid-mid {
  float: left;
  width: 50%;
}
.twit {
  top: 45%;
}
.amet-sed {
  margin-bottom: 2em;
}
.footer-top-at {
  padding: 3em 0px 2em;
}
.men img,.col-md1 img,.men1 img,.men2 img{
	width:100%
}
.men1,.men2 {
  float: left;
  width: 50%;
}
.b-from-left {
  min-height: 213px;
}
.b-from-top {
  min-height: 553px;
}
.b-animate span {
  padding-top: 3.2em;
}
.top-in span {
    padding: 13em 0 0;
}
.top-in1 {
  min-height: 261px;
}
.top-in1 span {
  padding: 6em 0 0;
}
.top-in2 {
  min-height: 254px;
}
.top-in2 span {
  padding: 5.5em 0 0;
}
/*--contact--*/
.contact-in {
  margin: 1em 0 0;
}

/*--blog--*/
.grid_3 {
  float: left;
  width: 50%;
}
.grid-1{
	float:none;
	width:100%;
}
/*--product--*/
.bottom-cd{
float:left;
width:33.3%;
}
.product-price {
  width: 50%;
}
.six1 {
  width: 87%;
  padding: 4.5em 1em 0;
}

/*--single--*/
.single-top-in {
    width: 100%;
    margin-left: 0%;
    float: left;
    margin: 6em 0 0;
}
.single-top {
  width:52%;
}
.single-para h4 {
  font-size: 2em;
}
.available ul li select {
  margin-left: 14.5%;
}
.available ul li.size-in select {
  margin-left: 16.5%;
  width: 40%;
}
.left-account {
  margin-top: 2em;
}
a.cpns {
  padding: 7px;
  font-size: 0.7em;
}
.men {
  margin-bottom: 2em;
}
.cont {
    
}
.b-animate span {
    font-size: 1.2em;
}
.amet-sed h4 {
    font-size: 1.2em;
}
.amet-sed {
    float: left;
    width: 25%;
}
.bottom-cd.simpleCart_shelfItem {
    width: 50%;
}
.pl-rgt {
    float: right;
    width: 76%;
    padding: 1.6em 0em 1.6em 1em;
}
.pl-lft {
    float: left;
    width: 22%;
}
.pro-grid {
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    padding: 9em 0 0;
}
.flexslider .slides img {
    width: 100% ! important;
    display: block;
}
.top-sing {
    margin-bottom: 3em;
}
.pro-grid{
	padding: 9em 0 0;
}
.imagezoom-view {
    position: absolute;
    left: 372.5px ! important ;
    top: 233.375px ! important ;
    width: 375px ! important ;
    height: 374px ! important ;
    z-index: 2147483647;
    overflow: hidden;
    border: none;
    background: #fff ! important ;
}
.amet-sed input[type="submit"] {
    width: 56%;
}
}
@media(max-width:640px){
.banner-text {
  padding: 7em 0 0;
  min-height:280px;
}	
.grid-top p {
  font-size: 0.9em;
}
.pro-grid {
  padding: 8.5em 0 0;
}
.blog {
  padding: 2em 0;
}
.contact {
  padding: 2em 0;
}
.account {
  padding: 2em 0;
}
.register {
  padding: 2em 0;
}
.b-animate span {
  padding-top: 2.5em;
}
.banner {
  min-height: 400px;
}
ul.callbacks_tabs.callbacks1_tabs {
  left: 42%;
}
.b-from-left {
  min-height: 170px;
}
.top-in span {
    padding: 10.5em 0 0;
}
.b-from-top {
  min-height: 448px;
}
.top-in1 {
  min-height: 214px;
}
.top-in1 span {
    padding: 5em 0 0;
}
.top-in2 span {
    padding: 4em 0 0;
}
.top-in2 {
  min-height: 204px;
}
.cont {
    
}
.bottom-cd.simpleCart_shelfItem {
    padding-right: 2em;
}
.flex-control-nav {
    left: 318px ! important;
}
.imagezoom-view {
    position: absolute;
    left: 304.5px ! important;
    top: 233.375px ! important;
    width: 316px ! important;
    height: 374px ! important;
    z-index: 2147483647;
    overflow: hidden;
    border: none;
    background: #fff ! important;
}
.amet-sed input[type="submit"] {
    width: 64%;
}
}
@media(max-width:480px){	
.search {
 display: none;
}
.header-left {
  float: none;
  margin-top: 0px;
  text-align: center;
}
.banner-text h3 {
  font-size: 1.5em;
}
.banner-text p {
  font-size: 1em;
}
.banner {
  min-height: 294px;
}
.banner-text {
    padding: 5em 0 1em;
}
.grid-top {
  width: 100%;
    margin-bottom: 1em;
}
.grid-top p {
  font-size: 1.2em;
}
.content-top {
  padding: 2em 0;
}
.grid-in {
  padding: 0em 0 0;
}
.content-bottom ul li {
  border: none;
  width: 33%;
}
.product-price {
  width: 63%;
}
.banner-text {
  margin: 0 0 0 0em;
  min-height:50px;
}
.pro-grid span {
  font-size: 0.9em;
}
.pro-grid {
  padding: 6.5em 0 0;
}
a.item_add p.number {
  font-size: 0.9em;
}
.b-from-left {
  min-height: 440px;
}
.b-animate span {
  padding-top: 6em;
}
.top-in span {
  padding: 4.5em 0 0;
}
.b-from-top {
  min-height: 321px;
}
.top-in1 span {
  padding: 2em 0 0;
}
.top-in1 {
  min-height: 154px;
}
.top-in2 span {
  padding: 1.5em 0 0;
}
.top-in2 {
  min-height: 144px;
}
/*--single--*/
.cd-tabs-navigation a {
  font-size: 0.9em;
}
.top-comment-right {
  width: 81%;
}
.grid_3 {
  float: left;
  width: 100%;
}
.blog h1 {
  font-size: 2em;
  margin: 0 0 0.5em;
}
.single-bottom h3 {
  font-size: 2em;
}
.single-bottom input[type="submit"] {
  width: 18%;
}
.contact h1 {
  font-size: 2em;
}
.contact-form {
  padding: 1em 0;
}
.account h1 ,.register h1 {
  font-size: 2em;
  margin-bottom: 0.3em;
}
.register-top-grid h3, .register-bottom-grid h3 {
  font-size: 1.2em;
}
.cont {
    
}
.amet-sed {
    width: 100%;
}
.logo h1 a {
    font-size: 1.1em;
}
.bottom-cd.simpleCart_shelfItem {
    padding-right: 1em;
}
p.tun {
    font-size: 0.85em ! important;
    width: 66%;
}
.product1 span {
    font-size: 1em;
}
a.item_add p.number {
    padding: 0em 0em;
}
.ca-rt {
    width: 26%;
}
.content-top h1 {
    font-size: 1.5em;
}
.content-top-bottom h2 {
    font-size: 1.5em;
}
.content {
    top: -47px;
}
.flex-control-nav {
    left: 241px ! important;
}
.flex-control-nav {
    left: 240px ! important;
}
.imagezoom-view {
    position: absolute;
    left: 221.5px ! important;
    top: 233.375px ! important;
    width: 238px ! important;
    height: 374px ! important;
    z-index: 2147483647;
    overflow: hidden;
    border: none;
    background: #fff ! important;
}
.single-top-in {
    width: 100%;
    margin-left: 0%;
    float: left;
    margin: 1em 0 0;
}

}
@media(max-width:320px){
.logo {
  width: 45%;
}
.logo img{
  width: 100%;
}
.imagezoom-view {
    position: absolute;
    left: 155.5px ! important;
    top: 207.375px ! important;
    width: 143px ! important;
    height: 374px ! important;
    z-index: 2147483647;
    overflow: hidden;
    border: none;
    background: #fff ! important;
}
}
@media(max-width:320px){
.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 35%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
height: 35px;
  width: 35px;
  background: url("../images/img-sprite.png") no-repeat -13px -98px ;
 }
.callbacks_nav.next {
  left: auto;
  background-position:-91px -98px;
  right: 0;
 } 
	
.header-left ul li a {
  margin: 0 1em 0 0;
 font-size: 1em;
}
.box_1 h3 {
  font-size: 1em;
}
.header-top {
  padding: 10px 0;
}
.logo {
  width: 41%;
}
.h_menu4 {
  margin: 1px 33px 0px;
}
.logo img{
	width:100%;
}
.head-top {
  padding: 0.6em 0;
}
.banner-text h3 {
  font-size: 0.9em;
  line-height:1.5em;
    letter-spacing: 3px;
    margin-bottom: 0.2em;
}
.banner-text p {
 font-size: 0.8em;
 margin:0.5em 0 0;
}
.banner-text a {
  font-size: 0.9em;
  padding: 0.3em 0.5em;
}
.banner {
  min-height: 158px;
}
.content-top h1 {
  font-size: 1.3em;
    margin-bottom: 0.8em;
}
.grid-mid {
  padding: 5px;
}
.twit h4 {
  font-size: 1em;
}
.amet-sed {
  margin-bottom: 1em;
  padding: 0;
}
.amet-sed h4 {
  font-size: 1.2em;
  margin: 0 0 0.3em;
}
ul.nav-bottom li a {
  font-size: 0.9em;
}
.amet-sed input[type="submit"] {
    width: 33%;
}
.content-bottom {
  padding: 1em 0;
}
.grid-middle {
  padding: 0.1em 0 0;
}
.content-top {
  padding: 1em 0 0;
}
.grid-top p {
  font-size: 1.1em;
}
.banner-text {
  padding: 4em 0 1em;
  margin: 0em 0 0 0em;
}
ul.callbacks_tabs.callbacks1_tabs {
  left: 36%;
}
.banner {
  min-height: 203px;
}
ul.callbacks_tabs.callbacks1_tabs {
  bottom: 8%;
}

.box_1 p a {
  font-size: 0.9em;
}
.header-left ul {
  margin-top: 13px;
}
.content-top-bottom h2 {
    font-size: 1.2em;
    margin-bottom: 1em;
}
.men {
  margin-bottom: 1em;
}
.col-md2 {
  padding: 15px 0 0;
}
.product {
  padding: 2em 0;
}
.product-price {
  width: 100%;
  padding: 0;
}
.bottom-cd {
  padding: 0 3px;
}
p.tun {
  font-size: 0.8em;
}
a.item_add p.number {
  font-size: 0.8em;
  padding: 0.5em 0.5em;
}
.pro-grid span {
  font-size: 0.8em;
  padding: 0.4em 0.8em;
}
.pro-grid {
  padding: 8.5em 0 0;
}
.bottom-product {
  margin-bottom: 1em;
}
.pagination {
  margin: 10px 0 0;
}
.footer-top-at {
  padding: 2em 0px 2em;
}
.grid_3 {
  padding: 0;
}
.blog-poast-info ul li a,.blog-poast-info ul li span{
  font-size: 0.8em;
}
.grid_3 {
  margin-bottom: 1em;
}
.single-bottom h3 {
  font-size: 1.5em;
}
.single-bottom input[type="text"], .single-bottom textarea {
  padding: 0.6em;
}
.single-bottom textarea {
  min-height: 100px;
}
.single-bottom input[type="submit"] {
  width: 25%;
}
.single-bottom {
  padding: 0em 0 0em;
}
.contact-grid ,.contact-in{
  padding: 0;
}
.contact-grid input[type="text"], .contact-grid textarea {
  padding: 0.8em;
}
.send input[type="submit"] {
  width: 24%;
}
.account-top input[type="text"], .account-top textarea, .account-top input[type="password"]
,.register-top-grid input[type="text"], .register-bottom-grid input[type="password"] {
  padding: 0.5em;
}
.account-top input[type="submit"] {
  width: 33%;
}
.register-top-grid h3, .register-bottom-grid h3 {
  font-size: 1.1em;
}
.product-price1,.single-top,.single-top-in {
  padding: 0;
}
.single-para h4 {
  font-size: 1.5em;
}
.available ul li select {
  margin-left: 6.5%;
}
.available ul li.size-in select {
  margin-left: 10.5%;
}
.cd-tabs.is-ended {
  margin: 1em 0 1em;
  padding: 0 0em;
}
.footer-class p {
  font-size: 1em;
}
.button a {
  font-size: 0.9em;
}
.cart-items,.cart-total {
  padding: 0;
}
.account-top input[type="submit"],.register-bottom-grid input[type="submit"] {
  font-size: 1em;
}
.account-top,.left-account,.register-top-grid,.register-bottom-grid {
  padding: 0;
}
.b-animate span {
    padding-top: 4.2em;
    font-size: 1.3em;
}
.b-from-left {
  min-height: 247px;
}
.top-in span {
    padding: 3.5em 0 0;
}
.b-from-top {
  min-height: 194px;
}

 .top-in1 span {
  padding: 1.8em 0 0;
}
.top-in1 {
  min-height: 92px;
}
.top-in2 span {
    padding: 3.5em 0 0;
}
.top-in2 {
    min-height: 165px;
}
.content {
    top: -28px;
    padding: 1em;
}
.men1, .men2 {
    float: none;
    width: 100%;
    margin: 1em 0;
	padding:0;
}
.grid-top {
    width: 100%;
    margin-bottom: 2em;
}
.cont {
    
}
.footer {
    background: #141414;
    padding: 1.5em 0 0;
}
.logo h1 a {
    font-size: 0.75em;
}
.sb-search {
    right: 0px;
}
.sb-search.sb-search-open, .no-js .sb-search {
    width: 68%;
}
.bottom-cd.simpleCart_shelfItem {
    padding-right: 0em;
    width: 100%;
    margin: 0 0 1em;
}
.pro-du {
    padding: 2em 0;
}
.grow h2 {
    font-size: 1.5em;
}
.grow {
    padding: 1em 0;
}
.pl-rgt {
    width: 52%;
}
.pl-lft {
    float: left;
    width: 46%;
}
.pr-btm {
    margin: 3em 0 0;
}
.amet-sed p {
    font-size: 0.9em;
}
.amet-sed h4 {
    font-size: 1.1em;
    margin: 0 0 1em;
}
.footer-top-at {
    padding: 2em 0px 0em;
}
.footer-class p {
    font-size: 0.9em;
    line-height: 1.8em;
}
.footer-class {
    padding: 0.8em 0;
}
.send input[type="submit"] {
    padding: 0.3em 0.8em;
}
.flex-control-nav {
    left: 149px ! important;
}
.available ul li {
    font-size: 1em;
    width: 50%;
}
.map iframe {
    padding: 0 0px;
}
.flex-direction-nav .flex-prev {
    opacity: 1;
    left: -27px ! important;
}
.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
    left: -27px ! important;
}
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right:-20px ! important;
}
.flex-direction-nav .flex-next {
  right: -30px ! important;
}
.amet-sed {
    width: 100%;
}
}